.root {
    /* border: 1px solid black; */
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}



.root > h1 {
    font-size: 50px;
}

.main > button {
    padding: 0px 30px;
    cursor: pointer;
    border: 1px  black;
}